body, html{
    width: 100%;
    height: 100%;
}

body{
    margin: 0px;
    font-family: montserrat;
    background-color: #212529;
}

/* Модальное окно - бэк */
.Modal__backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    transition: opacity0 .2s ease-in;
    }

 /* Модальное окно - контент */   
.Modal__content {
    position: relative;
    width: auto;
    margin: 10px;
    transition: opacity 0.3s ease-in;
    display: flex;
    flex-direction: column;
    background-color: #212529;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.3);
}
    
 /* Модальное окно*/
.Modal__show .Modal__backdrop,
.Modal__show .Modal__content {
    opacity: 1;
    z-index: 1050;
    pointer-events: auto;
    overflow-y: auto;
}
    
 /* Модальное окно - верхняя часть (шапка) */
.Modal__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
    background-color: #212529;
    color: white;
}

/* Модальное окно - название в шапке */
.Modal__title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
}

 /* Модальное окно - кнопка х */    
.Modal__btn-close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: white;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
    text-decoration: none;
}

/* Модальное окно - кнопка х при наведении*/    
.Modal__btn-close:focus,
.Modal__btn-close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.75;
}

/* Модальное окно - тело окна */ 
.Modal__body {
    position: relative;
    flex: 1 1 auto;
    padding: 3%;
    overflow: auto;
    color: white;
}
    
/* Цвет фона шапки и подвала */
.vegaNavbar{
    background-color: black;
}

/* Цвет фона шапки снизу */
.vegaLine{
    background-color: #212529;   
}

.form-floating{
    background-color: #212529 !important;
}
.form-control{
    background-color: #212529;
}

label{
    color: #8d959a !important;
}

/* Шрифт навигационных элементов */
.nav-link{
    font-size: medium;  
    color: #8d959a;
}

/* Подсветка навигационных элементов */
.nav-link:hover{
    color: #55FF33 !important;
}

/* Шрифт навигационных элементов */
.nav-link-footer{
    font-size: medium;  
    color: #8d959a;
    padding: 0 !important;
    margin-bottom: .5rem !important;
}

/* Подсветка навигационных элементов */
.nav-link-footer:hover{
    color: #55FF33 !important;
}

/* Белый цвет для всех заголовков */
h1,
h2,
h3,
h4,
h5{
    color: white;
}

/* Специальный заголовок */
h5{
    font-size: medium;
}

/* Основной текст */
p{
    color: white;
    line-height: 180%;
}

/* Цвет заголовков в подвале */
.footer-title{
    color: white;
}

/* Кнопка */
button{
    margin-bottom: 2%;
    text-align: left;
    background-color: #55b5db;
    border: 0;
}

/* Карточки Bootstrap */
.card{
    background-color: #212529;
    border-color: #33393f;
}

.card-body{
    background-color: #212529;
}
.card-footer{
    border-color: #33393f;
    background-color: #212529;
}
.card-title{
    color: white;
}
/* конец */

/* Голубой цвет текста */
.blue{
    color: #55b5db;
}

/* Красный цвет текста */
.red{
    color: #dc3545;
}

/* Фиолетовый цвет текста */
.violet{
    color: #a074c4;
}

/* Серый цвет текста */
.grey{
    color: #8d959a;
}

/* Зеленый цвет текста */
.green{
    color: #20c997;
}

/* Отступы между блоками */
.my-5{
    margin-top: 1%;
    margin-bottom: 3% !important;
}

/* Цвет Vegagram */
.vegagram{
    background: linear-gradient(to right, #F79F40 20%, #D23085 50%, #823BC8 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 400% !important;
}

/* Ячейка с презентациями */
.pres-block{
    border-radius: 10px;
    font-weight: 700;
    color: white;
    background: linear-gradient(to top right, #189f87, #1e1889  100%);
    width: 100%;
    height: 200px;
}

/* Ячейка с презентациями при наведении */
.pres-block:hover{
    transition: .5s;
    font-size: larger;
    background: #054d91;
}

/* Фото преподавателей при наведении */
.prepImg:hover{
    transition: .5s ease;
    background-color: #20c997;
}

/* Параметры ячеек с дисциплинами */
.prof,
.otherDIS,
.vmath,
.projects{
    font-size: large;
    padding: 3%;
    height: 120px;
    border-radius: 10px;
    width: 100%;   
    color: white;
}

/* Цвет IT дисциплин */
.prof{
    background-color: #3EA28C; 
}

/* Цвет проектов */
.projects{
    background-color: #821D3F;
}

/* Цвет дисциплин вышмата*/
.vmath{
    background-color: #752781;
}

/* Цвет общепрофессиональных дисциплин */
.otherDIS{
    background-color:#205287;
}

/* Ячейки с дисциплинами при наведении*/
.prof:hover,
.otherDIS:hover,
.vmath:hover,
.projects:hover{
    transition: 1s;
    background-color: #55FF33;
    color: black;
}

/* Ответы в тесте на программиста */
.answer-variant{
    text-align: center;
    background-color: #752781;
    color: white;
    border-radius: 10px;
}

/* Ответы в тесте на программиста при наведении */
.answer-variant:hover{
    transition: 1s;
    background-color: #3EA28C; 
}

/* Часто задаваемые вопросы */
.question{
    color: white;
    background-color: #212529;
}

/* Часто задаваемые вопросы при наведении*/
.question:hover{
    color: #55FF33 !important;
}

/* Ссылки */
a{
    outline: none;
    text-decoration: none;
    color: white;
}

/* Ссылки при наведении*/
a:hover{
    /* outline: none;
    text-decoration: none; */
    color: white;
}

/* Перекрашивание кнопок Bootstrap */
.btn-outline-warning{
    color: #a074c4 !important;
    border-color: #a074c4 !important;
}

.btn-outline-warning:hover,
.btn-outline-warning:focus{
    background-color: #a074c4 !important;
    color: white !important;
    border-color: #a074c4 !important;
}

.btn-outline-success{
    color: #20c997 !important;
    border-color: #20c997 !important;
}

.btn-outline-success:hover{
    background-color: #20c997 !important;
    color: white !important;
    border-color: #20c997 !important;
}
/* конец */

/* Все картинки */
img{
    margin-bottom: 3%;
    border-radius: 10px;
}

/* Символ { у преподавателей */
.prep-sign{
    margin-right: 5%;
    font-size: 300%;
    color: white;
}

/* Высота картинки технологий */
.img-tech{
    height: 70px;
}

/* Цвет точек в списке */
li{
    color: white;
}

/* Фотогалерея */
.column {
    display: none; 
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
.show {
    display: block;
}

.column img {
    opacity: 0.8;
    cursor: pointer;
}
  
.column img:hover {
    transition: 1s;
    opacity: 1;
}
   
.photoview {
    position: relative;
    display: none;
}
  
.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}
/* конец */

/*Для маленького экрана*/
@media (min-width: 576px) {
    .Modal__content {
        max-width: 800px;
        margin: 50px auto;
    }
    }

@media screen and (min-width: 992px){
    /* Выпадающий контейнер */
    .Dropdown {
        float: left;
        overflow: hidden;
    }
    
    /* Кнопка выпадающего списка */
    .Dropdown .Dropbtn {
        border: none;
        outline: none;
        color: white;
        background-color: inherit;
        font-family: inherit; /* Важно для вертикального выравнивания на мобильных телефонах */
        margin: 0; /* Важно для вертикального выравнивания на мобильных телефонах */
    }
    
    /* Выпадающее содержимое (скрыто по умолчанию) */
    .DropdownContent {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        border-radius: 10px;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        /* z-index: 1; */
    }
    
    /* Ссылки внутри выпадающего списка */
    .DropdownContent a {
        float: none;
        color: black;
        padding: 12px 16px;
        display: block;
        text-align: left;
    }
    
    /* Добавить серый цвет фона для выпадающих ссылок при наведении курсора */
    .DropdownContent a:hover {
        border-radius: 10px;
        background-color: #ddd;
    }
    
    /* Показать выпадающее меню при наведении курсора */
    .Dropdown:hover .DropdownContent {
        display: block;
    } 

    .Dropbtn:hover{
        color: #55FF33;
        transition: all .3s ease-out;
    }

    /* Анимация появления */
    .element-animation {
        opacity: 0;
        transform: translateY(20px);
    }

    /* Анимация появления */
    .element-animation.element-show {
        opacity: 1;
        transition: all 1.5s;
        transform: translateY(0%);
    }

    /* Бегущая строка */
    .marquee {
        overflow: hidden;
        white-space: nowrap; 
        animation: move 30s linear infinite alternate;
    }
    
    /* Бегущая строка в противоположную сторону */
    .marqueerev {
        overflow: hidden;
        white-space: nowrap; 
        animation: move 30s linear infinite alternate-reverse;
    }

    /* Значение анимации */
    @keyframes move {
        from { text-indent: -140%; }
        to { text-indent: 2; }
    }
    .practice{
        margin-top: 100px !important;
        margin-bottom: 200px !important;
    }

    .hideBTN{
        display: none !important;
    }
}

@media screen and (max-width: 767px) {   
    a{
        font-size: 16px !important;
    }
    
    .my-5{
        margin-top: 0%;
        margin-bottom: 10% !important;
    }

    /* Цвет Vegagram */
    .vegagram{
        font-size: 300% !important;
    }
    
}

@media screen and (max-width: 993px){

    /* Анимация появления */
    .element-animation {
        opacity: 1;
        transform: translateY(0);
    }

    /* Анимация появления */
    .element-animation.element-show {
        opacity: 1;
        transition: 0s;
        transform: translateY(0);
    }

    .Dropbtn {
        color: #55FF33;
        text-align: left;
    }

    .Dropdown{
        margin-top: 20px;
    }

    .Dropbtn:hover {
        color: #55FF33;
    }

    /* Ссылки внутри выпадающего списка */
    .DropdownContent a {
        color: white;
        text-align: left; 
        float: left;
        margin-right: 36%;
        margin-top: 8px;
        margin-left: 13px;
    }

    .marquee {
        display: none;
        overflow: hidden;
        white-space: nowrap; 
        animation: move 0s linear infinite;
        animation-direction: alternate;
       }
    
    .marqueerev {
        display: none;
        overflow: hidden;
        white-space: nowrap; 
        animation: move 0s linear infinite alternate-reverse;
    }

    @keyframes move {
        from { text-indent: 0%; }
        to { text-indent: 0; }
       }

    /* Ячейка с презентациями при наведении */
    .pres-block:hover{
        transition: 0s;
        font-size: medium;
        background: #054d91;
    }

    .practice{
        margin-top: 50px !important;
        margin-bottom: 100px !important;
    }

    .hideBTN-sm{
        display: none !important;
    }
}
